flows.json
[{"id":"db72b41.7697e48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"12091f20.5bf721","type":"ui_form","z":"db72b41.7697e48","name":"","label":"","group":"6c3c17b8.ae6e58","order":0,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"hb","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"ppd","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"ch","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY(Y OR N)","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKERLAST5YRS(Y OR N)","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"em","type":"number","required":true,"rows":null}],"formValue":{"hb":"","ppd":"","ch":"","bm":"","ag":"","s":"","fh":"","sm":"","em":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":360,"wires":[["55ccd80e.0c7918"]]},{"id":"12e8b560.93f4cb","type":"inject","z":"db72b41.7697e48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["55ccd80e.0c7918"]]},{"id":"55ccd80e.0c7918","type":"function","z":"db72b41.7697e48","name":"Pretoken","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"ppd\",msg.payload.ppd)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"em\",msg.payload.em)\n\nvar apikey=\"VhKlHTSeXMCzTAmQcaOnNV9HX_r5loMqkYE9Ymniw3Rl\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":280,"wires":[["8cec35d1.4c1b78"]]},{"id":"8cec35d1.4c1b78","type":"http request","z":"db72b41.7697e48","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":380,"wires":[["9ec79818.f28f38","3e8f4f8d.4b4d3"]]},{"id":"9ec79818.f28f38","type":"function","z":"db72b41.7697e48","name":"PrePrediction","func":"var hb = global.get(\"hb\")\nvar ppd = global.get(\"ppd\")\nvar ch = global.get(\"ch\")\nvar bm = global.get(\"bm\")\nvar ag = global.get(\"ag\")\nvar s = global.get(\"s\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar em = global.get(\"em\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\n                \"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\n                \"values\":[[hb,ppd,ch,bm,ag,s,fh,sm,em]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":240,"wires":[["a4f2fa5a.6176b8"]]},{"id":"3e8f4f8d.4b4d3","type":"debug","z":"db72b41.7697e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":480,"wires":[]},{"id":"a4f2fa5a.6176b8","type":"http request","z":"db72b41.7697e48","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/60c670ea-e709-4769-a773-e4ea04d8d4da/predictions?version=2021-07-20","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":340,"wires":[["8f4cb089.dc4ae","d222f24d.08fca","95607353.ea171"]]},{"id":"8f4cb089.dc4ae","type":"function","z":"db72b41.7697e48","name":"","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.payload = msg.payload.predictions[0].values[0][0]\n       \n    }\nelse \n    {\n        msg.paylaod = msg.payload.predictions[0].values[0][1][1]\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":460,"wires":[[]]},{"id":"d222f24d.08fca","type":"function","z":"db72b41.7697e48","name":"Parsing","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.probablity = msg.payload.predictions[0].values[0][1][0];\n        msg.payload = 'Not at Risk';\n    }\nelse \n    {\n        msg.probability = msg.payload.predictions[0].values[0][1][1];\n        msg.payload = 'At Risk';\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":240,"wires":[["f77e7b31.7132f8"]]},{"id":"95607353.ea171","type":"debug","z":"db72b41.7697e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":460,"wires":[]},{"id":"f77e7b31.7132f8","type":"ui_text","z":"db72b41.7697e48","group":"6c3c17b8.ae6e58","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":340,"wires":[]},{"id":"6c3c17b8.ae6e58","type":"ui_group","name":"Predict","tab":"52f08aca.a559a4","order":1,"disp":true,"width":"6","collapse":false},{"id":"52f08aca.a559a4","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]